@charset "utf-8";
/* CSS Document */

img.scale-with-grid {
    max-width: 100%;
    height: auto;
}

body { font-size:12px; background:#f2f2f2;
       font-family: 'open_sansregular'; 
       -moz-font-smoothing:antialiased!important;
       font-smoothing:antialiased!important;
       font-smooth:always;
}

:focus {
    outline:0
}
h1, h2, h3, h4, h5, h6, li, span, label, input, button, textarea {
    font-family: 'open_sansregular';     
}
a, p {
    font-family: 'open_sansregular';
}

/*----*****---- << Buttons >> ----*****----*/

.button { line-height:normal; display:inline-block !important; *display:inline; zoom:1; margin:0px 0px 0px; cursor:pointer; font-weight:bold; font-size:14px; text-transform:uppercase; border:0; -webkit-border-radius: 4px; border-radius: 4px;
}
.button:hover { opacity:0.8; filter:alpha(opacity=80); }

.button.medium { padding:8px 10px; }
.button.small { padding:8px 10px; }

.button.red { background:#ae1920; color:#ffffff; }
.button.blue { background:#1866ff; color:#ffffff; }
.button.yellow { background:#ffc956; color:#3d3d3d; }
.button.pink { background:#c34258; color:#ffffff; }
.button.green { background:#61a760; color:#ffffff; }
.button.violet { background:#343b67; color:#ffffff; }
.button.mustard { background:#a38036; color:#ffffff; }
.button.turquoise { background:#42c2a2; color:#ffffff; }

.medium-buttons .button { margin-bottom:10px; margin-right:20px; }
.small-buttons .button { margin-right:7px; }	

input.button, input[type="submit"], input[type="button"] { overflow: visible; /* remove padding from left/right */ width:auto !important; }

/* Home */


.top-section { margin:0 auto; padding:0; background:#1364fe url(../img/top-section-bg.jpg) no-repeat center top; height:37px;}
.top-links { margin:0; padding:5px 0 0 0;}
.top-links .top-social{ margin:0; padding:0; float:left; width:40%;}
.top-links .top-right-link{ margin:0; padding:5px 0 0 0; float:right; width:40%;}

.top-links .top-social span { color:#fff; font-size:12px; display:inline-block;vertical-align:middle;}
.top-social a { position:relative; z-index:10; width:22px; height:22px; display:inline-block; *display:inline; zoom:1; margin:0px 5px; -webkit-transition:all 200ms linear; -moz-transition:all 200ms linear; -o-transition:all 200ms linear; -ms-transition:all 300ms linear; transition:all 200ms linear; background:url(../img/social-icon.png) no-repeat; text-indent:-9999px; }	
.top-social a.linkdin { background-position:0 0; }
.top-social a.linkdin:hover { background-position:0 -22px; }
.top-social a.facebook { background-position:-30px 0; }
.top-social a.facebook:hover { background-position:-30px -22px; }
.top-social a.mail { background-position:-61px 0; }
.top-social a.mail:hover { background-position:-61px -22px; }

.top-links .top-right-link { color:#fff; font-size:12px; display:inline-block; text-align:right;}
.top-links .top-right-link a{ color:#fff; font-size:12px;}
.top-links .top-right-link a:hover { color:#81bbff; }

.top-header { margin:0; padding:0; background:url(../img/top-header-bg.png) repeat-x left top; height:88px;}
.logodiv { margin:0; padding:0; width:210px; float:left; }
.logodiv h1.logo { margin:0; padding:0;}

.top-tagline { margin:0; padding:10px 10px 0 0; text-align:right;}
.top-tagline h2{ margin:0; padding:0; color:#1966ff; font-size:24px; text-align:right;font-family: 'open_sanslight'; border:0;}

.navdiv {}
/*-----------------------------------------------------------------------
   Nav styles
 ------------------------------------------------------------------------ */
.navul, .navul ul {margin: 0;padding: 0;list-style: none;z-index:100;}
.navul {width: 100%;margin: 0px auto;}
.navul:before,.navul:after {content: "";display: table;}
.navul:after {clear: both;}
.navul {zoom:1;}
.navul li {float: left;position: relative; z-index:100; border-left:1px solid #7fa6bc;}
.navul li:first-child { border-left:0;}
/*
.navul li .arrowdown { margin:0; padding:0; float:right; width:10px; height:10px; position:absolute; right:30px; top:50px; background:url(../img/arrow-down.png) no-repeat right top; display:block;}*/
.navul a {
    float: left;
    padding: 0 10px 0 10px;
    color: #7c7c7c;
    text-decoration: none;
    font-size:14px;
    font-family: 'open_sanssemibold';
}
.navul a.active {float: left;padding:0;color: #1866ff; text-decoration: none; padding: 0 10px 0 10px;}
.navul li:hover > a {color: #1866ff; }
*html .navul li a:hover { /* IE6 only */color: #1866ff;}
.navul ul {	margin: 0px 0 0 0;_margin: 0; /*IE6 only*/
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 25px;
            left: 0;
            z-index: 9999!important;    
            background: #004d79;
            border-bottom:5px solid #dc3030;
            -moz-box-shadow: 0 4px 5px 0px rgba(0,0,0,.5);
            -webkit-box-shadow: 0 4px 5px 0px rgba(0,0,0,.5);
            box-shadow: 0 4px 5px 0px rgba(0,0,0,.5);
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;  
            text-shadow: none;
}
.navul li:hover > ul {opacity: 1;visibility: visible;margin: 0;}
.navul ul ul {top: 0;left: 150px;margin: 0 0 0 0px;_margin: 0; /*IE6 only*/z-index:100;border:0;}
.navul ul li {float: none;display: block;border: 0;	_line-height: 0; /*IE6 only*/border-bottom:1px solid #2e2e2e;border-right:0;z-index:100;margin:0;}
.navul ul li:last-child {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;background:none;border:0;}
.navul ul a {    
    color: #add0e4;
    padding: 7px 10px 7px 10px;
    margin:0;
    text-align:left;
    width: 200px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    font-size:13px;
    font-weight:normal;
    text-shadow: none!important;
    border-right:0;
    z-index:1000;
    line-height:normal;
}
.navul ul a:hover {background-color: #127db4;background-image:none;color:#fff;}
.navul ul li:first-child > a { }
.navul ul li:first-child > a:after {content: '';position: absolute;left: 40px;top: -6px;}
.navul ul ul li:first-child a:after {left: -6px;top: 50%;margin-top: -6px;}
.navul ul li:first-child a:hover:after {border-bottom-color: #2e2e2e; }
.navul ul ul li:first-child a:hover:after { border-bottom-color: transparent; 	}
.navul ul li:last-child > a {}


.mobile-menu { display:none; margin:10px 0 0 0; padding:0; position:relative; z-index:99999;}

a.home.menu { background:#324696 url("../img/mobile-menu-icon.png") no-repeat center center; display: block; height: 32px; margin: 0 auto; padding:0 10px; text-align:center;
              width: 100%;}
#access { border-bottom: 1px solid #324696; border-top: 1px solid #324696;  clear: both; margin-top: 0px; padding: 0;  width: 100%;}
#access {
    display:none;
}

#mobile-nav { margin:0; padding:0; background:#1263fc;}
#mobile-nav li{ margin:0; padding:0; display:block;}
#mobile-nav li a { position: relative; display: block; border-bottom: 1px solid #324696; padding: 5px 10px;color: #fff; text-shadow: -1px -1px 1px #222; font-size: 1.2em; text-decoration: none; background:#1263fc; font-size:12px;}
#mobile-nav li a:hover {background:#c646ae;}
#mobile-nav li a::after { content: ''; display: block;  width: 6px; height: 6px; border-right: 3px solid #fff; border-top: 3px solid #fff; position: absolute; right:5%; top: 40%; transform:0.5s; -moz-transition:0.5s;  -o-transition:0.5s; -webkit-transition:0.5s; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

#mobile-nav li a.active_nav::after { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
#mobile-nav li a:hover::after { border-color: #cad0e6; }
#mobile-nav li ul{ display:block; margin:0; padding:0px;}
#mobile-nav li ul li{display: block; }
#mobile-nav li ul li a{ color: #fff; font-size: 1em; padding: 5px 0 5px 20px;}
#mobile-nav li ul li a:hover { color:#fff; text-decoration: none; }

/* end of nav */

#middle-container { clear:both; margin:0 auto; padding:20px 0 20px 0;}

.round-boxes { background:#fff; -webkit-border-radius:4px; border-radius:4px; -webkit-box-shadow: 1px 1px 1px 1px #dfdfdf; box-shadow: 1px 1px 1px 1px #dfdfdf;
margin-bottom: 30px;
}

.round-boxes .block{
    padding: 0px;
    
}

.padding{
    padding: 10px;
}

h2.red { background:#dc3030; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 10px;}
h2.green { background:#5fb435; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 10px;}
h2.blue { background:#107db4; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;}
h2.dark-gary { background:#333333; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;}
h2.org { background:#f3580a; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;}

.home-event-container { margin:0; padding:0;}
.home-event-container h2 { font-size:14px; padding:10px;}
.home-event-container .event-box{ clear:both; margin:0 0 8px 0; padding:0 0 5px 0; width:100%; border-bottom:1px solid #cccccc;}
.home-event-container .event-box.last{ border-bottom:0; padding-bottom:0;}
.home-event-container .event-box:before, .home-event-container .event-box:after { content:""; display:block}
.home-event-container .event-box:after { clear:both;}
.home-event-container .event-box .imgdiv{ margin:0 2% 0 0; padding:0; width:28%; float:left;}
.home-event-container .event-box .imgdiv img{ margin:0; padding:3px; border:1px solid #222;}
.home-event-container .event-box .txt{ margin:0; padding:0; float:left; width:70%;}
.home-event-container .event-box .txt .title{ margin:0 0 5px 0; padding:0; color:#117db4; font-size:11px;font-family: 'open_sanssemibold'; line-height:14px;}
.home-event-container .event-box .txt .title a{ color:#117db4; font-size:11px; font-family: 'open_sanssemibold'; line-height:14px;}
.home-event-container .event-box .txt .title a:hover { color:#000;text-decoration:underline;}
.home-event-container .event-box .txt .title span{ color:#6d6d6d; font-family: 'open_sansregular';}
.home-event-container .event-box .txt p{ margin:0; padding:0; font-family: 'open_sansregular'; color:#222; font-size:11px!important; line-height:14px;}

.right-announcement-container { margin:0; padding:0;}
.right-announcement-container h2{ font-size:14px; padding:10px;}
.right-announcement-container .announcement-div  {clear:both; margin:0 0 0px 0; padding:0; width:100%;}
.right-announcement-container .announcement-div:before, .right-announcement-container .announcement-div:after { content:""; display:block}
.right-announcement-container .announcement-div:after { clear:both;}
.right-announcement-container .announcement-div .title { margin:0; padding:0 0 0px 0; color:#117db4; font-size:12px; font-family: 'open_sanssemibold';}
.right-announcement-container .announcement-div .title a{ color:#117db4; font-size:12px; font-family: 'open_sanssemibold';}
.right-announcement-container .announcement-div .title a:hover{ color:#000; text-decoration:underline;}
.right-announcement-container .announcement-div .normaltxt { margin:0; padding:0; color:#222; font-size:12px; }
.right-announcement-container .announcement-div .link { padding:5px 0 0 0; margin:0;}
.link-more { margin:0; padding:0; color:#dc3030; font-size:12px; text-decoration:underline;}
.link-more:hover { color:#222; text-decoration:none;}

.home-blog-container { margin:0; padding:0;}
.home-blog-container  .blog-box{ clear:both; margin:0 0 10px 0; padding:0; width:100%;}
.home-blog-container  .blog-box:before, .home-blog-container  .blog-box:after { content:""; display:block}
.home-blog-container  .blog-box:after { clear:both;}
.home-blog-container  .blog-box .imgdiv{ margin:0; padding:0; width:125px; float:left;}
.home-blog-container  .blog-box .imgdiv img{ margin:0; padding:3px; border:1px solid #222;}
.home-blog-container  .blog-box .txt{ margin:0; padding:0; float:left; width:100%;}
.home-blog-container  .blog-box .txt .title{ margin:0 0 2px 0; padding:0; color:#117db4; font-size:12px;font-family: 'open_sanssemibold'; line-height:16px;}
.home-blog-container  .blog-box .txt .title a{ color:#117db4; font-size:12px; font-family: 'open_sanssemibold'; line-height:16px;}
.home-blog-container  .blog-box .txt .title a:hover { color:#000;text-decoration:underline;}
.home-blog-container  .blog-box .txt .title span{ color:#6d6d6d; font-family: 'open_sansregular';}
.home-blog-container  .blog-box .txt .geltxt{ margin:0; padding:0; font-family: 'open_sansregular'; color:#222; font-size:12px; line-height:16px;}

.home-publication-container { margin:0; padding:0;}
.publication-link { margin:0; padding:0;}
.publication-link ul{ margin:0; padding:0; text-align:center;}
.publication-link ul li{ margin:0 0 0px 0; padding:0; display:inline-table; text-align:center;}
.publication-link ul li a { margin:0; padding:0px; line-height:18px;color:#f06e2c; font-family: 'open_sanssemibold'; display:inline; text-align:center;}

.publication-link ul li a.small { font-size:10px;}
.publication-link ul li a.med { font-size:12px;}
.publication-link ul li a.large{ font-size:14px;}
.publication-link ul li a.ex-large { font-size:16px;}

.publication-link ul li a:hover { color:#004d79; }

.home-poll-container { margin:0; padding:0;}
.home-poll-container .poll-box{ clear:both; margin:0; padding:0; width:100%;}
.home-poll-container .poll-box input[type="radio"], input[type="checkbox"] { margin:-2px 0 0 0; padding:0;}
.home-poll-container .poll-box.last{ border-bottom:0; padding-bottom:0;}
.home-poll-container .poll-box:before, .home-poll-container .poll-box:after { content:""; display:block}
.home-poll-container .poll-box:after { clear:both;}

.home-poll-container .poll-box .poll-title{ margin:0; padding:0 0 10px 0; color:#117db4; font-size:12px; font-weight:bold;}
.home-poll-container .poll-box .poll-txt{ margin:0; padding:0 0 5px 0; color:#222; font-size:12px; }
.home-poll-container .poll-box .poll-txt label { display:inline-block; line-height:18px; font-weight:normal; font-size:12px; margin:0; padding:0;}
.vote-btn { margin-top:5px;}


/* Footer */
#footer { margin:0 auto; padding:20px 0 20px 0; background:#004d79;}

.btm-social { margin:0 auto; text-align:center; padding:0 0 20px 0}
.btm-social a { position:relative; z-index:10; width:22px; height:22px; display:inline-block; *display:inline; zoom:1; margin:0px 5px; -webkit-transition:all 200ms linear; -moz-transition:all 200ms linear; -o-transition:all 200ms linear; -ms-transition:all 300ms linear; transition:all 200ms linear; background:url(../img/social-icon.png) no-repeat; text-indent:-9999px; text-align:center; }	
.btm-social a.linkdin { background-position:0 -22px; }
.btm-social a.linkdin:hover { background-position:0 0; }
.btm-social a.facebook { background-position:-30px -22px; }
.btm-social a.facebook:hover { background-position:-30px 0; }
.btm-social a.mail { background-position:-61px -22px; }
.btm-social a.mail:hover { background-position:-61px 0; }
.footerlink { margin:0; padding:0; text-align:center;}
.footerlink a, .footerlink p{ margin:0 0 10px 0; padding:0; text-align:center; color:#add0e4; font-size:12px;}
.footerlink a:hover { color:#fff;}

.copyright, .copyright p{ margin:0; padding:0; text-align:center; color:#add0e4; font-size:12px;}

/* inside pages */
.about-container { margin:0; padding:0;}

.spangentxt { font-size:12px; margin:0!important; padding:0!important; display:block!important; float:none!important; clear:both!important;}
.genul { margin:5px 0 20px 15px; padding:0;}
.genul li{ margin:0; padding:0 0 5px 0; font-size:12px; color:#222; list-style:disc;}
.genul li a{ margin:0; padding:0; font-size:12px; color:#222;}

/* Blog */
.blog-container { margin:0; padding:0;}
.blog-container .blog-box { margin:0 0 50px 0; padding:0;}
.blog-container .blog-box:before, .blog-container .blog-box:after {
    display: table;
    line-height: 0;
    content: "";
}
.blog-container .blog-box:after {clear: both;}

.post_title, .post_content, .post_footer { float: left;  width: 100%;}
.post_title h3, .post_title h3 a{ margin:0; padding:0;color:#c946af; font-size:18px; font-family: 'open_sanssemibold';}
.post_title h3 a:hover { color:#000;}

.posted-by-text span{ margin:0; padding:0; color:#222; font-size:12px;font-family: 'open_sansregular';}
.posted-by-text a{ margin:0; padding:0;color:#c946af; font-size:14px; font-family: 'open_sanssemibold';}
.posted-by-text a:hover { color:#000;}


.blog-box .post_content {  background: url("../img/bg-post-content.png") no-repeat scroll 98% 0 transparent;}
.blog-box .post_content {  margin: 15px 0 0 0;  padding-bottom: 15px; position: relative; width: 100%;}
.post_title, .post_content, .post_footer { float: left; width: 100%;}
.post_thumb { margin: 0 0 10px 0; position: relative; width: 83%; }
/*.post_thumb_load { height: 255px; width: 556px;}*/
.post_thumb img { margin: 0; border:5px solid #c0c0c0;}
.post_content p {padding: 0 102px 5px 0;}
.post_content .small_button { margin-bottom: 15px; }
.small_button { background: url("../img/bg-buttons-sprite.png") no-repeat scroll 100% -43px transparent; color: #F4F4F2; font-size: 0.9em;  margin: 5px 10px 5px 0; 
                padding: 0 21px 0 0;}
.ka_button, .ka_button:hover { border: 0 none; color: #DDDDDD !important; display: inline-block;  letter-spacing: 1.2px;  text-decoration: none; text-transform: uppercase;}
.small_button span {   background: url("../img/bg-buttons-sprite.png") no-repeat scroll 0 0 transparent;  line-height: 10px;  margin: 0;  padding: 16px 0 17px 21px;}
.ka_button span {   display: block;}
.post_date { height: 65px; position: absolute; right: 16px; top: 0; width: 65px;}
.post_date .day { color: #FFFFFF; display: block;font-size: 30px;  font-weight: 700; margin: 12px 0 0;  text-align: center;}
.post_date .month { color: #fff; display: block; font-size: 16px; margin: -14px 0 0;  text-align: center; text-transform: uppercase;}
.post_comments { height: 32px;  position: absolute;  right: 48px;  top: 71px;  width: 36px;}
.post_comments span { color: #FFFFFF; display: block; font-size: 13px; font-weight: 700;  margin: 15px 3px 0 0;  text-align: right;}
.post_footer { background: url("../img/global-sprite-gradients.png") repeat-x scroll 0 -91px transparent; height: 56px; margin-bottom: 18px;}
.post_title, .post_content, .post_footer { float: left;   width: 100%;}
.post_cats, .post_tags { float: left;  width: 49%;}
.post_tags { float: right;}
.post_cats p, .post_tags p {  margin: 17px 0 0 4px !important;}
.post_cats span {  background: url("../img/bg-post-footer-categories.png") no-repeat scroll 0 50% transparent;   padding: 10px 3px 10px 24px;}
.post_title span, .post_cats span, .post_tags span {  color: #4C4C4C;  font-weight: 700;}
.post_cats, .post_tags { float: left;  width: 49%;}
.post_tags p {  float: right !important;    margin: 17px 4px 0 0 !important;}
.post_cats p, .post_tags p {    margin: 17px 0 0 4px !important;}
.post_tags span {  background: url("../img/bg-post-footer-tags.png") no-repeat scroll 0 50% transparent;    padding: 10px 3px 10px 24px;}
.post_title span, .post_cats span, .post_tags span {  color: #4C4C4C;  font-weight: 700;}



/* yellow pages */
.yellowpages-container { margin:0; padding:0;}
.search-page { margin:0; padding:0;}
.search-page .title{ margin:0; padding:0; font-size:14px; color:#127db4;font-family: 'open_sanssemibold';}
.search-page .subtitle{ margin:0; padding:0; font-size:12px; color:#565555!important; font-style:italic;}

.search-box { margin:20px 0 40px 0; padding:0 0 0 20%;}
.searchinput { margin:0 10px 0 0; padding:5px; -webkit-border-radius: 4px; border-radius: 4px; height:32px!important; float:left; width:240px;}

.browse-export { margin:0 0 20px 0; padding:0; }
.browse-export .title{ margin:0; padding:0; color:#127db4;  font-size:14px; font-family: 'open_sanssemibold';}

.browse-export .browse-box{ margin:0; padding:10px;background:#efeded; border:1px solid #a7a5a5;}
.browse-export .browse-box ul { margin:0; padding:0 0 0 15px;}
.browse-export .browse-box ul li{ margin:0 3px 0 0; padding:0; display:inline-block; float:left;}
.browse-export .browse-box ul li a{ margin:0; padding:2px 6px; background:#00a8ff; font-size:12px; color:#fff; display:inline-block; float:left; line-height:normal; -webkit-border-radius: 2px; border-radius: 2px;}
.browse-export .browse-box ul li a:hover{ background:#0e4696; text-decoration:none;}

.directory-result { margin:0; padding:10px 0 10px 0;}
.directory-result .title{ margin:0; padding:0; color:#000; font-size:14px; font-weight:bold;}
.directory-result .subtitle{ margin:0; padding:0; color:#676767; font-size:12px; font-style:italic;}

.directory-result .result-box { margin:0; padding:5px; border:1px solid #a7a5a5;}
.directory-result .result-box .search-tbl{ margin:0; padding:0;}
.directory-result .result-box .search-tbl tr{ margin:0; padding:0;}
.directory-result .result-box .search-tbl td{ margin:0; padding:0 0 5px 0;}
.directory-result .result-box .search-tbl .search-heading{ padding-bottom:0; background:#7ad1fd; color:#222; font-size:12px; font-weight:bold;}
.directory-result .result-box .search-tbl .search-txt{ color:#222; font-size:12px; line-height:normal;}
.directory-result .result-box .search-tbl a { color:#dc3030; font-size:12px; text-decoration:none;}
.directory-result .result-box .search-tbl a:hover { color:#000; text-decoration:underline;}

.browse-tag-title {margin:0; padding:0; color:#127db4;  font-size:14px; font-family: 'open_sanssemibold';}
.browse-tag { margin:0 0 20px 0; padding:5px; background:#efeded; border:1px solid #a7a5a5;}
.browse-tag a { color:#222; font-size:12px;}
.browse-tag a:hover { color:#1966ff;}

/* Events */
.events-container { margin:0; padding:0;}
.events-container .events-box{ margin:0; padding:0;}
.events-container .events-box h3{ margin:0 0 20px 0; padding:0; color:#1966ff; font-size:20px; border-bottom:1px solid #ccc;}

.events-container .events-div{ margin:0 0 15px 0; padding:0;}
.events-container .events-div .event-date { margin:0 2% 0 0; padding:0; float:left; width:15%;}
.events-container .events-div .event-date p { margin:0 auto; padding:10px 0; text-align:center; background:#1966ff; color:#fff; font-size:12px; line-height:14px;}
.events-container .events-div .event-post { margin:0; padding:0; float:left; width:80%;}
.events-container .events-div .event-post:before, .events-container .events-div .event-post:after, .events-container .events-div:before, .events-container .events-div:after  {display: table;
                                                                                                                                                                               line-height: 0;
                                                                                                                                                                               content: "";}
.events-container .events-div .event-post:after, .events-container .events-div:after { clear:both;}
.events-container .events-div .event-post .post-title { margin:0; padding:0; color:#222; font-size:12px; line-height:normal;}
.events-container .events-div .event-post .post-title a { color:#1966ff; font-size:12px;}
.events-container .events-div .event-post .post-title a:hover { color:#000; text-decoration:underline;}
.events-container .events-div .event-post .post-subtitle { margin:0; padding:0 0 10px 0; color:#7a7a7a; font-size:12px; font-style:italic;}
.events-container .events-div .event-post .post-desc { margin:0; padding:0; color:#222; font-size:12px; line-height:normal;}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular_0-webfont.eot');
    src: url('../fonts/opensans-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular_0-webfont.woff') format('woff'),
        url('../fonts/opensans-regular_0-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular_0-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff'),
        url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
        url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-light-webfont.woff') format('woff'),
        url('../fonts/opensans-light-webfont.ttf') format('truetype'),
        url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.block, .content{
    margin: 0 0 10px 0;
    padding: 10px;
    background: rgb(255, 255, 255);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
    box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
    border: 1px solid rgb(215, 211, 211);
}



.round-boxes .block{
    border: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;    
}

.block h3{
    background:#333333; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;
}

.block-annuncement h3{
    background:#333333; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;
}

.block-homeblog h3{
    background:#f3580a; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;
}

.block-poll h3{
    background:#f3580a; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;
}

.block-publication h3{
    background:#107db4; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;
}

.block-events h3{
    background:#dc3030; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 10px;
}

h2.red { background:#dc3030; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 10px;}
h2.green { background:#5fb435; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 10px;}
h2.blue { background:#107db4; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;}
h2.dark-gary { background:#333333; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;}
h2.org { background:#f3580a; font-size:18px; color:#fff; font-family: 'open_sanssemibold'; margin:0 0 10px 0; padding:5px 8px;}


.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}



.network-div { margin:0; padding:10px; background-color:#f2f2f2; border-top:1px solid #97d1df; border-bottom:1px solid #97d1df;}
.network-div ul { margin:0; padding:0;}
.network-div li{ margin:0; padding:8px 0 8px 0; float:left; width:50%;}
.network-div li img{ margin:0; padding:0; float:left;}
.network-div li span{ margin:0; padding:10px 0 0 10px; display:block; float:left;}
.network-div li a{ margin:0; padding:0; color:#0683a1; font-size:14px;}
.network-div li a:hover { color:#000; text-decoration:underline;}



.social { margin:0 0 0 0; padding:0 0 0 0;}
.social li{ margin:0 0 0 0; padding:0 0 0 0;}
a.icn {float: left; text-indent:-9990px; margin-right: 5px; cursor: pointer;  background-image:url(../img/social-icon.png);background-repeat: no-repeat; width:30px; height:31px; -webkit-transition: all 0s linear 0s; -moz-transition: all 0s linear 0s; -o-transition: all 0s linear 0s;	transition: all 0s linear 0s;}
.icn:focus, .icn:active {outline: none;}
.icn.facebook {background-position:0 -31px;}
.icn.facebook:hover {background-position:0 0;}

.icn.twitter { background-position:-30px -31px; }
.icn.twitter:hover { background-position:-30px 0; }

.icn.linkdin {background-position:-270px -31px; }
.icn.linkdin:hover {background-position:-270px 0; }

.icn.plus {background-position:-330px -31px; }
.icn.plus:hover {background-position:-330px 0; }
